<footer>
  <div class="container">
    <div>
      <a href="#">Order Status</a>
      <a href="#">Exchange, Return & Refund Policy</a>
      <a href="#">Return & Exchange (Start Process)</a>
      <a href="#">Help Center - FAQ's</a>
      <a href="#">Contact Us</a>
      <a href="#">Chat With Us On Whatsapp</a>
    </div>
    <div>
      <a href="#">Order Status</a>
      <a href="#">Exchange, Return & Refund Policy</a>
      <a href="#">Return & Exchange (Start Process)</a>
      <a href="#">Help Center - FAQ's</a>
      <a href="#">Contact Us</a>
      <a href="#">Chat With Us On Whatsapp</a>
    </div>
    <div>
      <a href="#">Order Status</a>
      <a href="#">Exchange, Return & Refund Policy</a>
      <a href="#">Return & Exchange (Start Process)</a>
      <a href="#">Help Center - FAQ's</a>
      <a href="#">Contact Us</a>
      <a href="#">Chat With Us On Whatsapp</a>
    </div>
  </div>
</footer>
