<div class="classContainer">
  <app-pop-up *ngIf="showPopUp" [scroll]="scroll"></app-pop-up>
  <app-spiner *ngIf="loader"></app-spiner>
  <div class="class" *ngIf="!loader">
    <img [src]="class.imgUrl" alt="img" />
    <h1>{{ class.part }}</h1>
    <p>{{ class.desc }}</p>
    <div
      *ngFor="let task of tasks; let i = index"
      class="task"
      [ngStyle]="{
        'box-shadow':
          !task.done && (tasks[i - 1]?.done || i == 0) && progress
            ? '0px 0px 10px 5px red'
            : '0px 0px 10px 5px black'
      }"
    >
      <div>
        <h2>Day {{ task.day }}- Calories {{ task.calories }}</h2>
        <button
          *ngIf="
            (!task.done && tasks[i - 1]?.done) || (!tasks[0]?.done && i == 0)
          "
          (click)="start(class.part)"
        >
          {{ state }}
        </button>
        <h1 *ngIf="task.done">Done!!!</h1>
        <p *ngIf="!task.done && tasks[i - 1]?.done && progress">
          In Progress...
        </p>
        <div class="toast" *ngIf="toast && !task.done && tasks[i - 1]?.done">
          you can start this exercise after {{ hours }}:{{ minutes }}
        </div>
      </div>

      <div>
        <div *ngFor="let exercise of task.exercises">
          <h3>{{ exercise.number }}: {{ exercise.practice }}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
