<div class="productDetailsContainer">
  <app-pop-up *ngIf="showPopUp"></app-pop-up>
  <app-spiner *ngIf="loader"></app-spiner>
  <div class="productDetails" *ngIf="!loader">
    <img [src]="product.imgUrl" alt="img" />
    <h1>{{ product.title }}</h1>
    <p>{{ product.desc }}</p>
    <h2>{{ product.price }}$</h2>
    <button (click)="addToCart()" *ngIf="!added">add to Cart</button>
    <div class="isAdded" *ngIf="added">
      Product Added To Cart <fa-icon [icon]="like"></fa-icon>
    </div>
  </div>
</div>
